body{
    color: #325050;
    background:rgb(219, 213, 213);
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 100%;
    padding: 20px;
    margin: 20px; 
}
p{
    display: inline;
}
img{
    display: block;
    float: right;
}
nav{
    background-color: rgb(252, 250, 253)

}
a{
    padding:20px;
    margin-block-start: 20px
    
}
a:hover{
    color: red;
}