body{
    background-color:rgb(168, 163, 167);
    font-family:'Lora';
   
    color: whitesmoke;
    
}
h1{
    font-size:30px;
    margin-top : 50px;
    display: center;
    
}
img{
    float:left;
    margin-inline-end: 100px;
    margin-top: 10px;
    
}

.about-me{
    background-color: rgb(148, 163, 163);
}
