body{
    background-color:#dad8d8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-size-adjust: 100%
    
    
}
h1{
    font-size:30px;
    margin-top : 50px;
    display:block;
    background-color: rgb(148, 163, 163);
    
}
img{
    float:left;
    margin-inline-end: 100px;
    margin-top: 10px;
    
}

.about-me{
    background-color: rgb(148, 163, 163);
}