/* body{
    background-color: azure
    
}
h1{
    color: #00f;
    text-align: center;
}

h2 {
    color: #0000ff;
    font-style: italic;
    text-align: center;
}

p{
    font-family: sans-serif;
}

ul{
    line-height: 40px
}
img{
    width: 350px;
    height: 250px;
}
 a:hover{
     color: red
 } */